<h1>Welcome to HotReads!</h1>
<h2>Here are the Top 10 Links from URLLockBox</h2>

<ol>
  <% @links.each do |link| %>
    <li><%= link.url %> : number of clicks: <%= link.submission_count %></li>
  <% end %>
</ol>
